
p {
  padding: 0;
  margin: 0;
}

.example-card {
  max-width: 400px;
}

video {
  position: fixed;
  top: 64px;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

.home-content {
  color: white;
  background-color: rgba(0,0,0,0.5);
  min-height: calc(100vh - 64px);
}

.home-content #title {
  text-align: center;
  margin: 0;
  padding-top: 20px;
}


.home-wrapper {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.home-content div app-tinwork-card {
  flex: 1 0 auto;
}

.home-content h2, .home-content p {
  text-align: center;
}
