<div *ngIf="companyInfo">

  <h1>{{companyInfo.name}}</h1>

  <div class="founders">
    <app-tinwork-card class="founder-card" [card]="{ title: companyInfo.ceo, subtitle: 'CEO (Founder)'}"></app-tinwork-card>
    <app-tinwork-card class="founder-card" [card]="{ title: companyInfo.cto, subtitle: 'CTO'}"></app-tinwork-card>
    <app-tinwork-card class="founder-card" [card]="{ title: companyInfo.coo, subtitle: 'COO'}"></app-tinwork-card>
  </div>

  <div class="founders">
    <app-tinwork-card class="founder-content" [card]="{ title: 'Detail', subtitle: companyInfo.summary}"></app-tinwork-card>
  </div>

</div>