.cores-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
}

mat-chip-list {
  align-self: flex-end;
  flex: 1;
}

.cores {
  flex: 1;
}