.launch-card {
  max-width: 300px;
  margin: 20px;
}

.launch-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card {
  flex: 1;
  flex: 1 1 0;
}

mat-chip-list {
  position: absolute;
  right: 10px;
}