<mat-card class="launch-card">
  <mat-card-header>
     <mat-card-title *ngIf="card.title !== undefined">{{card.title}}</mat-card-title>
    <mat-card-subtitle *ngIf="card.subtitle">{{card.subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image *ngIf="card.image" src="{{card.image}}" alt="">
  <mat-card-content *ngIf="card.content">
    <p>
      {{card.content}}
    </p>
  </mat-card-content>
  <app-tinwork-card-action *ngIf="card.actions" [actionType]="card.type" [actions]="card.actions"></app-tinwork-card-action>
</mat-card>
