/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0px !important;
  background-color: 'black';
}

p, h1, h2, h3, h4, div {
  font-family: 'roboto', 'sans-serif';
}

.example-container {
  height: calc(100vh - 64px);
}

.example-sidenav {
  height: calc(100vh - 64px);
  background-color: #673ab7;
  color: white;
  width: 200px;
}

a {
  color: white;
  text-decoration: none;
}