/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px !important;
  background-color: 'black';
}

p, h1, h2, h3, h4, div {
  font-family: 'roboto', 'sans-serif';
}

app-sidebar {
  width: 200px;
  background-color: #6644B1;
  height: calc(100vh - 64px);
  position: absolute;
  top: 64px;
  left: 0;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}